// Beginning of CSS file.

h1, h2, h3, p, li {
  font-family: sans-serif;
}

div.nav {
  display: inline-block;
  padding: 3px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: sticky;
  background-color: rgb(100, 158, 100);
}

li.nav {
  display: inline;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
